<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="features">
            <directory>./tests/feature</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
